<div class="row add-item">
  <div class="col-xs-12">
    <div class="panel panel-default"><!-- <div class="col-sm-12 col-md-6 create-item grid-item">
    <div class="panel panel-default grid-item-content"> -->
      <form id="create-item" class="form">
        <div class="panel-body">
          <!-- header -->
          <h4>Add a Snippet</h4>
          <div class="form-group">
            <label for="create-item-title" class="sr-only">Title</label>
            <div class="input-group">
              <input type="text" class="form-control" name="item[title]" id="create-item-title" placeholder="title" value="">
            </div>
            <p class="help-block">Please enter a snippet title.</p>
          </div>
          <!-- body -->
          <div class="form-group">
            <label for="create-item-body" class="sr-only">Body</label>
            <textarea class="form-control" name="item[body]" id="create-item-body" placeholder="body" rows="3"></textarea>
          </div>
        </div>
        <!-- footer -->
        <div class="panel-footer">
          <a href="#" class="btn btn-link pull-left" id="create-item-cancel"><span class="glyphicon glyphicon-remove"></span> Cancel</a>
          <button class="btn btn-link pull-right" type="submit"><span class="glyphicon glyphicon-ok"></span> Save</button>
          <div class="clearfix"></div>
        </div>
      </form>
    </div>
  </div>
</div>
