<h2>Sample Snippets</h2>

<div class='row'>
  <div class="col-lg-4 col-sm-6">
    <h3>Snippet Title</h3>
    <pre>
Lorem ipsum dolor sit amet
consectetur adipisicing
  elit, sed do
eiusmod tempor incididunt
ut labore
  et dolore magna
  aliqua.
    Ut enim ad
    minim veniam,
  quis nostrud
exercitation
ullamco laboris</pre>
  </div>
  <div class="col-lg-4 col-sm-6">
    <h3>Snippet Title</h3>
    <pre>
Lorem ipsum dolor sit amet
  consectetur adipisicing
    elit, sed do
  eiusmod tempor incididunt
  ut labore
    et dolore magna
    aliqua.
      Ut enim ad
      minim veniam,
    quis nostrud
  exercitation
ullamco laboris</pre>
  </div>
  <div class="col-lg-4 col-sm-6">
    <h3>Snippet Title</h3>
    <pre>
Lorem ipsum dolor sit amet
  consectetur adipisicing
    elit, sed do
  eiusmod tempor incididunt
  ut labore
    et dolore magna
    aliqua.
      Ut enim ad
      minim veniam,
    quis nostrud
  exercitation
ullamco laboris</pre>
  </div>
</div>
