<div class="col-sm-6 col-md-4 show-item">
  <div class="panel panel-default" data-id="{{id}}">
    <div class="panel-body">
      <h4 class="item-title">{{title}}</h4>
      <div class="item-body">{{body}}</div>
    </div>
    <div class="panel-footer">
      <button class="btn btn-link edit-item-link">Edit <span class="glyphicon glyphicon-pencil"></span></button>
      <button class="btn btn-link pull-right delete-item-link">Delete <span class="glyphicon glyphicon-trash"></span></button>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
