$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$input-background-color: #fff;

.nav-tabs {
  border-bottom: 0;
}
// dropdown login form CSS

.dropdown-menu {
  min-width: 320px;
  padding: 14px 14px 0;
}

.help-block {
  display: none;
}

textarea {
  font-family: monospace;
  resize: vertical;
}

.item-body {
  font-family: monospace;
  white-space: pre-wrap;
  word-break: normal;
}

.input-group {
  width: 100%;
}

input:-webkit-autofill {
  // border: 1px solid #ccc;
  -webkit-box-shadow: 0 0 0 1000px $input-background-color inset;
}

input:focus,
input:-webkit-autofill:focus {
  // border-color: #66afe9;
  -webkit-box-shadow: 0 0 0 1000px $input-background-color inset,
                      0 0 8px rgba(102, 175, 233, 0.6);
}


.row.make-columns {
  column-gap: 0;
  // -moz-column-gap: 0;
  // -webkit-column-gap:0;
  column-width: 550px;
  // -moz-column-width: 480px;
  // -webkit-column-width: 480px;


  &.make-columns > div {
    display: inline-block;
    width: 100%;
  }
}

.panel {
  display: inline-block;
  height: 100%;
  width: 100%;
}
