$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

form {
  // margin-bottom: 30px;
}

.well {
  word-wrap: break-word;
}

.tab-content .panel {
  border-top: none;
  border-radius: 0;
}
// dropdown login form CSS

.dropdown-menu {
  min-width: 250px;
  padding: 14px 14px 0;
}

// @media(max-width:768px) {
//   .dropdown-menu {
//     // background-color: #ffffff;
//     // // color: #fff;
//   }
// }
