$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

form {
  // margin-bottom: 30px;
}

.well {
  word-wrap: break-word;
}

.tab-content .panel {
  border-radius: 0;
  border-top: 0;
}
// dropdown login form CSS

.dropdown-menu {
  min-width: 250px;
  padding: 14px 14px 0;
}

.panel-heading {
  padding: 5px 15px;
}

.panel-title {
  line-height: 33px;
}
